<div class="nav">
    <div class="flex">
        <div>
            <div *ngIf="isMobile">
                <button mat-button [matMenuTriggerFor]="menu" class="custom-button">Menu</button>
                <mat-menu #menu="matMenu">
                    <a routerLink="/"><button mat-menu-item>Home</button></a>
                    <a routerLink="/profile"><button mat-menu-item>My Profile</button></a>
                    <a routerLink="/my-flats"><button mat-menu-item>My Flats</button></a>
                    <a routerLink="/favorites"><button mat-menu-item>Favorites</button></a>
                    <a routerLink="/all-users"><button mat-menu-item>All Users</button></a>
                    <a routerLink="/delete-account"><button mat-menu-item>Delete Account</button></a>
                </mat-menu>
            </div>
        </div>

        <div>
            <h1>Flat Finder</h1>
        </div>

        <div *ngIf="localStorage.getItem('user')" class="flex menuItems">
            <a routerLink="/">Home</a>
            <a [routerLink]="['/profile', localStorage.getItem('userId')]">My Profile</a>
            <a routerLink="/my-flats">My Flats</a>
            <a routerLink="/favorites">Favorites</a>
            <a *ngIf="localStorage.getItem('userRole') == 'admin'" routerLink="/all-users">All Users</a>
            <a routerLink="/delete-account">Delete Account</a>
        </div>
    </div>
    <div class="flex logInOut">
        <div class="flex" *ngIf="!localStorage.getItem('userFullName')">
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
        </div>

        <div class="flex" *ngIf="localStorage.getItem('userFullName')">
            <h2 class="userFullName">Hello - {{localStorage.getItem('userFullName')}}</h2>
            <a class="logOut" (click)="logout()">Logout</a>
        </div>
    </div>
</div>