<div class="nav">
    <div class="flex">
        <div>
            <div *ngIf="isMobile">
                <button mat-button [matMenuTriggerFor]="menu" class="custom-button">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Home</button>
                    <button mat-menu-item>My Profile</button>
                    <button mat-menu-item>My Flats</button>
                    <button mat-menu-item>Favorites</button>
                    <button mat-menu-item>All Users</button>
                    <button mat-menu-item>Delete Account</button>
                </mat-menu>
            </div>
        </div>

        <div>
            <h1>Company Logo</h1>
        </div>

        <div class="flex menuItems">
            <a routerLink="/">Home</a>
            <a routerLink="/profile">My Profile</a>
            <a routerLink="/my-flats">My Flats</a>
            <a routerLink="/favorites">Favorites</a>
            <a routerLink="/all-users">All Users</a>
            <a routerLink="/delete-account">Delete Account</a>
        </div>
    </div>
    <div class="flex logInOut">
        <div class="flex" *ngIf="!localStorage.getItem('userFullName')">
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
        </div>

        <div class="flex" *ngIf="localStorage.getItem('userFullName')">
            <h2 class="userFullName">Hello - {{localStorage.getItem('userFullName')}}</h2>
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</div>