<div class="contentContainer">
    <div class="formWrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter city</mat-label>
                    <input matInput placeholder="City" formControlName="city" (blur)="updateCityErrorMessage()"
                        required />
                    @if (city?.invalid) {
                    <mat-error>{{cityErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Street Number</mat-label>
                    <input matInput placeholder="Street Number" formControlName="streetNumber"
                        (blur)="updateStreetNumberErrorMessage()" required />
                    @if (streetNumber?.invalid) {
                    <mat-error>{{streetNumberErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Area Size</mat-label>
                    <input matInput placeholder="Area Size" formControlName="areaSize"
                        (blur)="updateAreaSizeErrorMessage()" required />
                    @if (areaSize?.invalid) {
                    <mat-error>{{areaSizeErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Has Ac</mat-label>
                    <mat-select formControlName="hasAc" (blur)="updateHasAcErrorMessage()" required>
                        @for (AC of ACs; track AC) {
                        <mat-option [value]="AC.value">{{AC.viewValue}}</mat-option>
                        }
                    </mat-select>
                    @if (hasAc?.invalid) {
                    <mat-error>{{hasAcErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Year Build</mat-label>
                    <input matInput placeholder="Year Build" formControlName="yearBuild"
                        (blur)="updateYearBuildErrorMessage()" required />
                    @if (yearBuild?.invalid) {
                    <mat-error>{{yearBuildErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Rent Price</mat-label>
                    <input matInput placeholder="Rent Price" formControlName="rentPrice"
                        (blur)="updateRentPriceErrorMessage()" required />
                    @if (rentPrice?.invalid) {
                    <mat-error>{{rentPriceErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter Data Available</mat-label>
                    <input type="date" matInput placeholder="" formControlName="dataAvailable" min="1904-12-31"
                        max="2006-01-01" (blur)="updateDataAvailableErrorMessage()" required />
                    @if (dataAvailable?.invalid) {
                    <mat-error>{{dataAvailableErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <button class="success" [disabled]="!form.valid" type="submit" mat-flat-button>Save</button>

        </form>
    </div>
</div>