<table mat-table [dataSource]="messages">

    <ng-container matColumnDef="fromUserFirstName">
        <th mat-header-cell *matHeaderCellDef> frist Name </th>
        <td mat-cell *matCellDef=""> {{messageData[0].fromUserFirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="fromUserLastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef=""> {{messageData[0].fromUserLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="fromUserEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef=""> {{messageData[0].fromUserEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef=""> nice flat!! </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
        <td mat-cell *matCellDef=""> {{messageData[0].timestamp}} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>