<table mat-table [dataSource]="users$ ">

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element">> {{ element.firstName }} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.birthDate }} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button *ngIf="localStorage.getItem('userRole') == 'admin' || localStorage.getItem('userId') == element.uid" mat-flat-button (click)="toggleComponent()">Edit</button>
        </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div class="container">
    <app-profile-update *ngIf="showComponent"></app-profile-update>
</div>